VITE_APP_NAME=SiteLocal
VITE_APP_ENV=local
VITE_API_URL=http://api.splytin.test/api/v1/

## SWEETALERT2
VITE_SWEETALERT_COLOR_BTN_SUCCESS='#10B981'  # Verde (Tailwind "emerald-500")
VITE_SWEETALERT_COLOR_BTN_DANGER='#EF4444'   # Rojo (Tailwind "red-500")
VITE_SWEETALERT_COLOR_BTN_ERROR='#EF4444'   # Rojo (Tailwind "red-500")
VITE_SWEETALERT_COLOR_BTN_WARNING='#F59E0B'  # Amarillo (Tailwind "amber-500")
VITE_SWEETALERT_COLOR_BTN_INFO='#3B82F6'   # Azul (Tailwind "blue-500")
